
<div *ngIf="distrito">
    <h2><span>Distrito</span> {{distrito.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nombre</span></dt>
        <dd>
            <span>{{distrito.nombre}}</span>
        </dd>
        <dt><span>Provincia</span></dt>
        <dd>
            <div *ngIf="distrito.provincia">
                <a [routerLink]="['/provincia', distrito.provincia?.id]">{{distrito.provincia?.nombre}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Retroceder</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'distrito/'+ distrito.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Editar</span>
    </button>
</div>
